In [30]:
import pandas as pd
import csv
import numpy as np
import datetime as dt
import os

In [2]:
! dir *.csv

 Volume in drive C is Windows
 Volume Serial Number is FADF-BF7F

 Directory of C:\Users\bolaa\OneDrive\Desktop\Extract-Transform-Load-DB

04/26/2020  09:49 PM         2,404,426 netflix_titles.csv
               1 File(s)      2,404,426 bytes
               0 Dir(s)  104,313,872,384 bytes free

In [3]:
path1="netflix_titles.csv"

In [4]:
p1 = pd.read_csv(path1)

In [5]:
del p1["release_year"]

In [6]:
p1.head(5)

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [7]:
#  extract day, month, year from the date_published columns
p1["date_added"] = pd.to_datetime(p1['date_added'])
p1['day'], p1['month'], p1['year']  = p1['date_added'].dt.day, p1['date_added'].dt.month, p1['date_added'].dt.year

In [8]:
def conv_to_int(df, col):
    df[col] =  df[col].fillna(0)
    df[col] = df[col].replace('',0, regex=True)
    np_of_df = df[col].values
    # convert to type as float
    np_of_df_float = np_of_df.astype(float)
    df[col] = np_of_df_float
    df[col] = df[col].astype(np.int64)
    return print("Completed!")

In [9]:
list = ["day", "month", "year"]
for var in list:
    conv_to_int(p1, var)

Completed!
Completed!
Completed!

In [10]:
# p1["day"] =  p1["day"].fillna(0)
# p1["day"] = p1["day"].replace('',0, regex=True)
# np_of_df = p1["day"].values
# # convert to type as float
# np_of_df_float = np_of_df.astype(float)
# p1["day"] = np_of_df_float
# p1["day"] = p1["day"].astype(np.int64)

In [11]:
movie = p1.loc[p1['type'] == 'Movie', :]
movie

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description,day,month,year
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,9,9,2019
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,2016-09-09,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,9,9,2016
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,8,9,2017
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",8,9,2017
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,8,9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5577,80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,2016-04-01,TV-MA,70 min,Documentaries,Frank was a rising pop star when he married Ci...,1,4,2016
5578,80085439,Movie,Frank and Cindy,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,2016-04-01,R,102 min,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...,1,4,2016
5579,80011846,Movie,Iverson,Zatella Beatty,Allen Iverson,United States,2016-04-01,NR,88 min,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...,1,4,2016
5580,80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,2016-04-01,PG-13,109 min,Documentaries,The journey of fashion designer Jeremy Scott f...,1,4,2016
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaT,NaN,60 min,Movies,Nursery rhymes and original music for children...,0,0,0

In [12]:
tv_show = p1.loc[p1['type'] == 'TV Show', :]
tv_show

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description,day,month,year
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09-08,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",8,9,2018
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09-08,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,8,9,2018
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2017-09-08,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,8,9,2017
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,2017-09-08,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",8,9,2017
26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,2018-09-07,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...,7,9,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaT,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,0,0,0
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaT,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0,0,0
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaT,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",0,0,0
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaT,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",0,0,0
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaT,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,0,0,0

In [13]:
movie['duration'], movie['duration_unit'] = movie['duration'].str.split(' ', 1).str

C:\Users\bolaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
movie

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description,day,month,year,duration_unit
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,TV-PG,90,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,9,9,2019,min
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,2016-09-09,TV-MA,94,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,9,9,2016,min
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,TV-14,99,Comedies,When nerdy high schooler Dani finally attracts...,8,9,2017,min
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,R,110,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",8,9,2017,min
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08,TV-MA,60,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,8,9,2017,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5577,80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,2016-04-01,TV-MA,70,Documentaries,Frank was a rising pop star when he married Ci...,1,4,2016,min
5578,80085439,Movie,Frank and Cindy,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,2016-04-01,R,102,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...,1,4,2016,min
5579,80011846,Movie,Iverson,Zatella Beatty,Allen Iverson,United States,2016-04-01,NR,88,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...,1,4,2016,min
5580,80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,2016-04-01,PG-13,109,Documentaries,The journey of fashion designer Jeremy Scott f...,1,4,2016,min
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaT,NaN,60,Movies,Nursery rhymes and original music for children...,0,0,0,min

In [15]:
# break_opi

In [16]:
movie.fillna("0")

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description,day,month,year,duration_unit
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09 00:00:00,TV-PG,90,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,9,9,2019,min
1,80117401,Movie,Jandino: Whatever it Takes,0,Jandino Asporaat,United Kingdom,2016-09-09 00:00:00,TV-MA,94,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,9,9,2016,min
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08 00:00:00,TV-14,99,Comedies,When nerdy high schooler Dani finally attracts...,8,9,2017,min
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08 00:00:00,R,110,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",8,9,2017,min
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08 00:00:00,TV-MA,60,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,8,9,2017,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5577,80085438,Movie,Frank and Cindy,G.J. Echternkamp,0,United States,2016-04-01 00:00:00,TV-MA,70,Documentaries,Frank was a rising pop star when he married Ci...,1,4,2016,min
5578,80085439,Movie,Frank and Cindy,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,2016-04-01 00:00:00,R,102,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...,1,4,2016,min
5579,80011846,Movie,Iverson,Zatella Beatty,Allen Iverson,United States,2016-04-01 00:00:00,NR,88,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...,1,4,2016,min
5580,80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,2016-04-01 00:00:00,PG-13,109,Documentaries,The journey of fashion designer Jeremy Scott f...,1,4,2016,min
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,0,0,0,0,0,60,Movies,Nursery rhymes and original music for children...,0,0,0,min

In [23]:
for col in movie.columns:
    print(f"'{col}',")

'show_id',
'type',
'title',
'director',
'cast',
'country',
'date_added',
'rating',
'duration',
'listed_in',
'description',
'day',
'month',
'year',
'duration_unit',

In [24]:
movie = movie [[
'show_id',
'type',
'title',
'day',
'month',
'year',
'duration',
'duration_unit',
'rating',
'director',
'cast',
'country',
'date_added',
'listed_in',
'description'
]]

In [25]:
movie

,show_id,type,title,day,month,year,duration,duration_unit,rating,director,cast,country,date_added,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,9,9,2019,90,min,TV-PG,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,9,9,2016,94,min,TV-MA,NaN,Jandino Asporaat,United Kingdom,2016-09-09,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
4,80125979,Movie,#realityhigh,8,9,2017,99,min,TV-14,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,8,9,2017,110,min,R,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,8,9,2017,60,min,TV-MA,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5577,80085438,Movie,Frank and Cindy,1,4,2016,70,min,TV-MA,G.J. Echternkamp,NaN,United States,2016-04-01,Documentaries,Frank was a rising pop star when he married Ci...
5578,80085439,Movie,Frank and Cindy,1,4,2016,102,min,R,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,2016-04-01,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...
5579,80011846,Movie,Iverson,1,4,2016,88,min,NR,Zatella Beatty,Allen Iverson,United States,2016-04-01,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...
5580,80064521,Movie,Jeremy Scott: The People's Designer,1,4,2016,109,min,PG-13,Vlad Yudin,Jeremy Scott,United States,2016-04-01,Documentaries,The journey of fashion designer Jeremy Scott f...
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,0,0,0,60,min,NaN,NaN,NaN,NaN,NaT,Movies,Nursery rhymes and original music for children...

In [17]:
tv_show['duration'], tv_show['duration_unit'] = tv_show['duration'].str.split(' ', 1).str

C:\Users\bolaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
for col in tv_show.columns:
    print (f'"{col}",')

"show_id",
"type",
"title",
"director",
"cast",
"country",
"date_added",
"rating",
"duration",
"listed_in",
"description",
"day",
"month",
"year",
"duration_unit",

In [27]:
tv_show = tv_show [[
'show_id',
'type',
'title',
'day',
'month',
'year',
'duration',
'duration_unit',
'rating',
'director',
'cast',
'country',
'date_added',
'listed_in',
'description'
]]

In [34]:
# export to file - tv_show
fol_name = "Exported_Data"
try:
    os.mkdir(fol_name)
except Exception:
    opath = os.path.join(fol_name, "netflix_tv_show.csv")
    tv_show.to_csv(opath)

In [35]:
# export to file - movie
fol_name = "Exported_Data"
try:
    os.mkdir(fol_name)
except Exception:
    opath = os.path.join(fol_name, "netflix_movie.csv")
    tv_show.to_csv(opath)